<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  
</head>

<body style=" background-color: #7091af;">
<nav class="navbar navbar-expand navbar-dark bg-primary d-flex justify-content-between">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link" href="/" aria-current="page">INICIO</a>
        <a class="nav-item nav-link" href="/productos">PRODUCTOS</a>
        <a class="nav-item nav-link" href="/nosotros">NOSOTROS</a>
        <a class="nav-item nav-link" href="/admin/login">LOGIN</a>
    </div>
    <img style="width: 75px; padding:5px" src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FAv-fotor-2023110402719.png?alt=media&token=428460fa-30cc-4de3-aec0-1f1658168179" class="img-fluid rounded-top" alt="">
</nav>
<div class="container">
    <br/>