 {% include "sitio/cabecera.html" %} 


    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
    <div class="carousel-item active">
      <img style="height="100"" src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FNo%20pagues%20de%20mas.png?alt=media&token=1bd6c21a-516a-4feb-a208-7dd89b0368df" class="d-block w-100 h-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FNo%20pagues%20de%20mas%20(1).png?alt=media&token=1529e974-8d90-4765-8e76-31290e4ae50e" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FNo%20pagues%20de%20mas%20(2).png?alt=media&token=26a4e830-5eef-4b94-82a1-8f9474374e2d" class="d-block w-100" alt="...">
    </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

<div class="row align-items-md-stretch justify-content-center">
  <div class="col-md-2">

</div>


    <div class="col-md-7">
        <div style="margin:20px; background-color: #f5f5f5 ;" class="h-80 p-5 text-green border rounded-3">
            <h2 class="fs-1 text">Bienvenido</h2>
            <p>Confía en nosotros para encargarnos de la tediosa tarea de búsqueda y adquisición de productos. Nuestra gran experiencia y amplia red de proveedores nos capacitan para encontrar con rapidez, aquello que has estado buscando durante años y resulta difícil de conseguir localmente. 
              <br/> Con nuestro compromiso de hacer posible lo imposible, te ofrecemos soluciones confiables para satisfacer tus necesidades de compra, garantizando la mejor relación calidad-precio y una experiencia de adquisición efectiva y eficiente.</p>
            <a href="/productos" class="btn btn-primary" role="button">Tienda online</a>
        </div>
    </div>

    <div class="col-md-2">

  </div>
</div>
<br/>

        <div class="row align-items-md-stretch justify-content-center">
          <div style="margin-top:20px;" class="col-md-4 mb-3">
            <div style="; background-color:  #f5f5f5 ;" class="h-100 p-5 text-green border rounded-3">
              <img style="object-fit: cover; " height="150" class="card-img-top" src=" https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FAlvacon%20(2).png?alt=media&token=24fdecbb-649d-4857-98f1-3bdcdfc497d0" alt="Title">
                <h2 class="fs-1 text">Maquinarias y herramientas</h2>
                <a href="/productos" class="btn btn-primary" role="button">Ver productos disponibles</a>
            </div>
        </div>

        <div style="margin-top:20px;" class="col-md-4 mb-3">
          <div  style="; background-color:  #f5f5f5 ;" class="h-100 p-5 text-green border rounded-3">
            <img style="object-fit: cover; " height="150" class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FAlvacon%20(5).png?alt=media&token=88654c3d-b49b-4194-9027-4406870da8d6" alt="Title">
              <h2 class="fs-1 text">Indumentarias y calzados</h2>
              <a href="/productos" class="btn btn-primary" role="button">Ver productos disponibles</a>
          </div>
      </div>

      <div style="margin-top:20px;" class="col-md-4 mb-3">
        <div  style="; background-color:  #f5f5f5 ;" class="h-100 p-5 text-green border rounded-3">
          <img style="object-fit: cover; " height="150" class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/fir-multer-822ac.appspot.com/o/images%2FAlvacon%20(6).png?alt=media&token=89380112-1d09-4b5b-9a51-afca33a464c5" alt="Title">
            <h2 class="fs-1 text">Productos de estacion</h2>
            <a href="/productos" class="btn btn-primary" role="button">Ver productos disponibles</a>
        </div>
    </div>
        </div>
 {% include "sitio/pie.html" %} 
