{% include "sitio/cabecera.html" %} 

<p>Seccion de productos</p>

<div class="row">
    {% for producto in productos%}

    <div class="col-md-3">
        
        <div  style="min-height: 700px; background-color:  #f5f5f5 ; margin: 5px" class="card">
            <img width="300" height="300" class="card-img-top"  src="/uploads/{{producto[2]}}"  alt="Title">
            <div  class="card-body">
                <h4 style="min-height: 120px;" class="card-title">{{producto[1]}}</h4>
                <p style="height: 200px; " class="card-text">{{producto[3]}}</p>
                <h5 class="card-title">${{producto[4]}}</h5>
                <button type="button" name="" id="" class="btn btn-primary">Detalles</button>

            </div>
        </div>        
        </div>
        {%endfor%}
    </div>

{% include "sitio/pie.html" %} 
